body {
    margin: 0;
    background: url("img/background.png");
}

.header {
    margin: 30px auto;
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.info-panel{
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

.timer{
    display: inline-block;
    margin: 0 50px;
}

.mines-counter{
    display: inline-block;
    margin: 0 50px;
}

.board {
    margin: auto;
    width: 320px;
    border: 1px solid black;
    font-size: 0;
    user-select: none;
}

.cell {
    margin: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.cell:active {
    background: #C2FFC2;
    border: 1px inset #1c5513;
}

.unrevealed {
    background: linear-gradient(+135deg, #8cc980 0%, #59b74b 20%, #58ae5f 60%,#3c8d42 100%);
    border: 1px outset #1c5513;
}

.blank {
    background: #C2FFC2;
    border: 1px inset #1c5513;
}

.mine {
    background: url(img/minesweeper_sprite.png) 36px 18px, #C2FFC2;;
    border: 1px inset #1c5513;
}

.flag {
    background: url(img/minesweeper_sprite.png) 18px 18px,
        linear-gradient(+135deg, #8cc980 0%, #59b74b 20%, #58ae5f 60%,#3c8d42 100%);
}

.number {
    background: url(img/minesweeper_sprite.png), #C2FFC2;
    border: 1px inset #1c5513;
}
.one{background-position:  144px 0;}
.two{background-position:  126px 0;}
.three{background-position: 108px 0;}
.four{background-position: 90px 0;}
.five{background-position: 72px 0;}
.six{background-position: 54px 0;}
.seven{background-position: 36px 0;}
.eight{background-position: 18px 0;}