body {
    margin: 0;
}

.header {
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.info-panel{
    margin: 20px auto;
    text-align: center;

}

.timer{
    display: inline-block;
    margin: 0 50px;
}

.mines-counter{
    display: inline-block;
    margin: 0 50px;
}

.board {
    margin: auto;
    width: 320px;
    border: 1px solid black;
    font-size: 0;
    user-select: none;
}

.cell {
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px outset grey;
    display: inline-block;
}

/*.cell:hover {*/
    /*background-color: lightblue;*/
/*}*/

.cell:active {
    background-color: lightslategrey;
}
.unrevealed{background-color: lightgrey;}
.blank{background-color: white;}
.mine{background: url(img/minesweeper_sprite.png) 36px 18px;}
.flag{background: url(img/minesweeper_sprite.png) 18px 18px;}
.number{background: url(img/minesweeper_sprite.png)}
.one{background-position:  162px 0;}
.two{background-position:  144px 0;}
.three{background-position: 126px 0;}
.four{background-position: 108px 0;}
.five{background-position: 90px 0;}
.six{background-position: 72px 0;}
.seven{background-position: 54px 0;}
.eight{background-position: 36px 0;}